/*
          _____                    _____                    _____                   _______
         /\    \                  /\    \                  /\    \                 /::\    \
        /::\    \                /::\    \                /::\    \               /::::\    \
       /::::\    \              /::::\    \              /::::\    \             /::::::\    \
      /::::::\    \            /::::::\    \            /::::::\    \           /::::::::\    \
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \         /:::/~~\:::\    \
    /:::/__\:::\    \        /:::/__\:::\    \        /:::/  \:::\    \       /:::/    \:::\    \
   /::::\   \:::\    \      /::::\   \:::\    \      /:::/    \:::\    \     /:::/    / \:::\    \
  /::::::\   \:::\    \    /::::::\   \:::\    \    /:::/    / \:::\    \   /:::/____/   \:::\____\
 /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /:::/    /   \:::\ ___\ |:::|    |     |:::|    |
/:::/__\:::\   \:::\____\/:::/  \:::\   \:::|    |/:::/____/  ___\:::|    ||:::|____|     |:::|    |
\:::\   \:::\   \::/    /\::/   |::::\  /:::|____|\:::\    \ /\  /:::|____| \:::\    \   /:::/    /
 \:::\   \:::\   \/____/  \/____|:::::\/:::/    /  \:::\    /::\ \::/    /   \:::\    \ /:::/    /
  \:::\   \:::\    \            |:::::::::/    /    \:::\   \:::\ \/____/     \:::\    /:::/    /
   \:::\   \:::\____\           |::|\::::/    /      \:::\   \:::\____\        \:::\__/:::/    /
    \:::\   \::/    /           |::| \::/____/        \:::\  /:::/    /         \::::::::/    /
     \:::\   \/____/            |::|  ~|               \:::\/:::/    /           \::::::/    /
      \:::\    \                |::|   |                \::::::/    /             \::::/    /
       \:::\____\               \::|   |                 \::::/    /               \::/____/
        \::/    /                \:|   |                  \::/____/                 ~~
         \/____/                  \|___|

*/
@import 'menu';
@import 'vars';
@import 'macros';
@import 'shortcodes';

html, body {
    background-color: $background;
    color: $text;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-weight: 400;
    z-index: 50;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1;
    color: $title;
}

h1 {
    color: $accent;
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.2em;
}

p,li,ul {
    font-size: 1em;
    color: $text;
    line-height: 1.7;
}

pre {
    border-radius: 0.25em;
    padding: 0.65em;
    overflow-x: auto;
    white-space: pre;
}

blockquote {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    border-left: 8px solid $accent;
    color: $text;
    border-color: $accent2;
    font-weight: lighter;
    font-style: italic;
    > .author {
        font-weight: normal;
        //font-style: normal;
    }
}

hr {
    color: $text;
    opacity: 0.4;
}

article {
    a {
        border-bottom: 2px solid $outline;
        color: $text;
    }
    a:link {
        text-decoration: none;
        transition-property: all;
        transition-duration: 0.35s;
    }
    a:hover {
        outline: 0;
        border-bottom: 2px solid $accent;
        opacity: 1;
    }
}

details {
    &:hover {
        cursor:pointer;
    }
    &:focus {
        outline: none;
    }
    &[open] summary ~ * {
        animation: sweep 400ms ease-in-out;
        outline: none;
    }
}


table, th, td {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $text;
    padding: 0.33em;
}

th, td {
    margin: auto;
}

tr {
    text-align: center;
    vertical-align: middle;
}

@keyframes sweep {
    0% {opacity: 0; margin-left: -10px;}
    100% {opacity: 1; margin-left: 0px;}
}

@keyframes slidein {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}
.user_logo {
    width: 125px;
    height: 125px;
    display: block;
    background-color: transparent;
    border: 5px solid $accent;
    border-radius: 100%;
    margin: 0 auto;
    // transition: all 250ms ease-in-out;
    > a {
        width: 115px;
        height: 115px;
        display: block;
        margin: 0 auto;
        background-size: 100%;
        border-radius: 100%;
        background-color: $accent;
        animation: 250ms ease-in 0s 1 slidein;
        border: 5px solid $background;
    }
}

.overlord {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.header {
    postion: relative;
    display: block;
    margin: auto;
    margin-top: 140px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 0px solid $accent;
    text-align: center;
    > h1,h2,h3 {
        max-width: 600px;
        margin: auto;
        margin-bottom: 0.25em;
        padding: 0.25em;
    }
    > h2 {
        font-size: 2.5em;
        font-weight: 900;
        color: $accent;
    }
    > div {
        opacity: 0.7;
        font-weight: 300;
        line-height: 1.2;
        margin: auto;
        max-width: 625px;
        display: block;
        text-align: center;
        * {
            max-width: 625px;
        }
    }
}

.article_split {
    width: auto;
    max-width: 100%;
    height: 1px;
    background-color: $background;
    margin-top: 70px;
    margin-bottom: 50px;
    display: block;
    clear: both;
}

.frontmatter {
    display: block;
    font-size: 1em;
    padding-left: 0;
    color: $title;
    font-style: bold;
    list-style-type: none;
    margin: 0 auto;
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    > li {
        display: inline;
    }
    > span {
        display: inline;
    }
    display: block;
    opacity: 0.3;
    transition: opacity 0.70s ease-out 1.7s;
}


.dotDivider {
    padding-right: .3em;
    padding-left: .3em;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 400;
    display: inline;
}

.dotDivider::after {
    content: '\00B7';
}

.post_list {
    padding-bottom: 30px;
    display: block;
    position: relative;
    > article {
        display: block;
    }
}

a#article_link, a#article_link:visited {
    transition: all 0.35s ease-out;
    text-decoration: none;
    color: $title;
}

a#article_link:hover {
    color: $accent;
    transition: all 0.35s ease-in;
}

h1.article_title:hover + ul#frontmatter {
    opacity:1;
    transition: opacity 0.30s ease-in;
}

h1.article_title {
    padding-right: 5px;
    margin: 0 auto;
    font-size: 38px;
    line-height: 42px;
    margin-top: 0px;
    font-weight: 700;
    > a {
        border-bottom: unset;
    }
    > a:focus {
        outline: none;
    }
}

.post_list_item {
    display: block;
    text-align: left;
    margin: auto;
    margin-bottom: 4em;
    max-width: 600px;
    > ul {
        max-width: 600px;
    }
    > a {
        margin-top: 0.5em;
    }
    > p {
        max-width: 600px;
        display: block;
        margin: auto;
        color: $text;
    }
    > h1,h2,h3,h4,h5,h6 {
        max-width: 600px
    }
}

.foot_links {
    clear: both;
    display: block;
    float: right;
    margin-top: 2.5em;
    margin-right: 2em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.foot_list {
    float: right;
    margin-right: 1.5em;
    z-index: 100;
}

.header_list {
    margin: auto;
    margin-top: 2em;
}

nav.pagination {
    padding: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
    border-top: 1px solid $accent2;
    padding-top: 45px;
    margin-top: 75px;
    display: block;
    z-index: 100;
    position: relative;
    > span.prev {
        display: block;
        float: left;
        z-index: 100;
    }
    > span.next {
        display:block;
        float: right;
        z-index: 100;
    }
}

.post_container {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
    display: block;
    position: relative;
    max-width: 625px;
    > article {
        margin-bottom: 30px;
        position: relative;
        display: inherit;
    }
}

.frontmatter_page {
    opacity: 0.5;
    transition: opacity 0.35 ease-in-out 2s;
    margin: 0 auto;
}


.extra_small {
    font-size: 14px;
    padding: 0px;
    display: inline-block;
    line-height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 15px;
}

.small {
    font-size: 17px;
    padding: 0px;
    display: inline-block;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.medium {
    font-size: 17px;
    padding: 0px;
    line-height: 35px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
}

.font_faint {
    font-weight: 100;
}

.button {
    font-weight: 400;
    text-transform: lowercase;
    background-color: transparent;
    color: $text;
    border: 1px solid $outline;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

.button:hover {
    background-color: $accent;
    color: $background;
    border: 1px solid $accent;
}

#languageSelector {
  > ul {
    > li {
      display: inline;
      font-weight: bold;
      color: $accent;
      > a {
        color: $text;
        text-decoration: none;
        font-size: 1em;
      }
      img {
        max-height: 1.5em;
        height: auto;
        width: auto;
      }
    }
  }
}

.overlord > #languageSelector > ul {
  margin-top: 50px;
  transform: translateY(-50%) translateX(20px);
}

#theme_selector {
    display: none;
}
